.app-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;

  .nav-container{
    flex-basis: 500px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
  }

  .page-container{
    width: 100%;
    height: 100%;
    font-size: 1em;
    line-height: 1.65em;
    background-color: #222222;
    color: #d5d5d5;

    h2{
      font-size: 32px;
    }

    h3{
      font-size: 21px;
    }

    h4{
      font-size: 18px;
    }
  }
}
